header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3369E8;
    padding: 6px 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.514));
}
.circle-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3369E8;
    position: fixed;
    color: white;
    border: none;
    display: flex;
    top: 65px;
    left: 15px;
    align-items: center;
    z-index: 1000;
    justify-content: center;
    cursor: pointer;
}

.circle-button i {
    font-size: 16px;
}
nav i {
    margin-right: 5px;
}
.logo-container {
    display: flex;
    align-items: center;
}
.fa-caret-down:before{
    font-size: 10px;
    vertical-align: middle;
    margin-right: -15px;
    margin-left: 10px;
}
.logo {
    height: 38px;
    border-radius: 50%;
    margin-right: 10px;
}
nav{
    margin-right: 15px;
}
.logo-text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21.3px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
    font-size: 16px;
}

nav a:hover {
    color: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
}
.container {
    display: flex;
    align-items: center;
}
.wheel-container {
    position: relative;
}
canvas {
    border-radius: 50%;
    cursor: pointer;
}
.arrow {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-right: 50.8px solid black;
    filter: drop-shadow(-4px 6px 8px rgba(0, 0, 0, 0.623));
}
.arrow::before {
    content: '';
    position: absolute;
    top: -27px;
    left: -2px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 50px solid #BBBBBB;
    z-index: -1;
    transform: translate(2px, 2px);
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.9));
}
.entry-box {
    margin-left: 50px;
    text-align: left;
}
textarea {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}
.tabs {
    position: relative;
    display: flex;
}
.tabs button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    color: #DCDCDC;
}
.tabs button.active {
    font-weight: bold;
    color: #FFFFFF;
}
.tabs button span {
    font-weight: bold;
    margin-left: 5px;
}
.underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50%;
    background-color: white;
    transition: left 0.3s ease;
}
.tabs #underline {
    left: 0;
}
.entry-box textarea {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

